body {
    background-color: #000629;
}
header {
    display: flex;
    font-family: sans-serif;
    margin: 100px 200px 0 200px;
    

}
.header-content {
    width: 280px;
    color: white;
    padding-top: 100px;
}
.header-content__1 {
    opacity: 0.6;
}
.header-content__2 {
    padding-left: 208px;
    opacity: 0.6;
}
.header-content__3 {
    display: flex;
    padding-left: 135px;
}
.header-content__3-2 {
    margin-left: 13px;
    font-size: medium;
}
.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1 {
    height: 350px;
    width: 270px;
}
.img2 {
    width:100px;
    margin-top: 80px;
    margin-bottom: 50px;

}
.header-h2 {
    padding-top: 217px;
    margin-left: 30px;
    
}
.header-h2__1, .header-h2__2 {
    color: white;
    font-weight: 10;
    letter-spacing: 2px;
    font-size: 30px;
}
.header-h2__1 {
    margin-bottom: 0 ;
}
.header-h2__2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-h2__3 {
    margin-top: 0;
    font-size: x-large;
}
.about-me {
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 'item1 item1'
                         'item2 item3';
    color: white;
    padding: 0 40px 0 40px;
}
.about-me__header {
    grid-area: item1;
    display: flex;
    justify-content: center;
}
.about-me h3 {
    font-size: 30px;
}
.purple {
    color: #4326f7;
    margin-left: 10px;
}
.about-me__left {
    padding-right: 10px;
    grid-area: item2;
    width: 560px;

}
.about-me__left--infor {
    display: flex;
}
.about-me__left--infor-1,
.about-me__left--infor-2,
.about-me__left--infor-3 {
    margin: 50px 25px 0 0;
}
.about-me__left--infor-2,
.about-me__left--infor-3 {
    opacity: 0.5;
}
.about-me__left--infor-1 p,
.about-me__left--infor-2 p,
.about-me__left--infor-3 p {
    margin-bottom: 40px ;
}
.about-me__right {
    padding-left: 10px;
    grid-area: item3;
    display: grid;
    grid-template-areas: 'item4 item5'
                         'item6 item7' ;
    height: 500px;
}
.about-me__right-1 {
    grid-area: item4;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #1f32cf36;
    margin: 0 5px 5px 0;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right-2 {
    grid-area: item5;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #1f32cf36;
    margin: 0 0 5px 5px;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right-3 {
    grid-area: item6;
    border: 1px black solid;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    background-color: #1f32cf36;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right-4 {
    grid-area: item7;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #1f32cf36;
    margin: 5px 0 0 5px;
    height:230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me__right div h5 {
    font-size: medium;
}

